* {
    color:rgba(255, 255, 255, 0.75);
    font-family: Arial, Helvetica, sans-serif;
}

html {
    /* fuer weniger augenkrebs beim basteln: */
    /* background-color:black; */
    /* 'normale' farbe der webseite: */
    background-color:rgba(10, 35, 188, 0.88);
    height: 100%;
}

/* .clearfix::after {
    content: "";
    clear: both;
} */

.clearfix {
    overflow: auto;
}

/* 
html, body{
    background-color:rgba(10, 35, 187, 0.9);
    margin: 0;
    height: 100%;
} */

h3.vm {
    text-align: center;
}

table.mannschaft{
    margin-left: 10px;
}

table.mannschaft td{
    padding-right: 10px;
}

table.ergebnis{
    margin: auto;
}

table.ergebnis td{
    padding-right: 10px;
}

table.ergebnis td:nth-child(1){
    width: 110pt;
}

table.ergebnis td:nth-child(3) {
    width: 110pt;
}

table.ergebnis td:nth-child(4) {
    width: 35pt;
    text-align: center;
}

table.kalender {
    border: 1px solid;
    border-collapse: collapse;
    margin: auto;
}

table.kalender td, th {
    border: 1px solid;
    border-collapse: collapse;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
}

table.dwz {
    border: 1px solid;
    border-collapse: collapse;
    margin: auto;
}

table.dwz td{
    border: 1px solid;
    border-collapse: collapse;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
}

table.dwz th{
    border: 1px solid;
    border-collapse: collapse;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
}

table.dwz td:nth-child(2) {
    text-align: left;
}

/* table.kalender th {
    border: 1px solid;
    border-collapse: collapse;
    text-align: left;
    padding-left: 5px;
} */

.header {
    /* background-color:rgb(10, 35, 187); */
    text-align: center;
    /* padding: 15px; */
}

h2 {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
}

.footer {
    /* background-color:rgb(10, 35, 187); */
    /* position: absolute;
    bottom: 0; */
    margin: 0;
    width: 100%;
    text-align: center;
    /* padding: 15px; */
    /* color: white; */
}

.column_vorstand {
    float: left;
    width: 50%;
}

.column_mannschaften {
    float: left;
    width: 50%;
}

.column_archiv {
    float: left;
    width: 33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    float: right;
    width: 79%;
}

.sidemenu {
    float: left;
    width: 19%;
    word-wrap: break-word;
}

.sidemenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidemenu li a {
    /* margin-bottom: 4px; */
    margin-right: 8px;
    display: block;
    padding: 8px;
    text-decoration: none;
    font-size: 24px;
    /* color:rgba(255, 255, 255, 0.9); */
}

.sidemenu li a:hover {
    background-color:rgba(255, 255, 255, 0.75);
    color:rgba(10, 35, 188, 0.88);
}
/* Die (Hintergrund-)Farben hier sind die von oben, aber getauscht. */
.sidemenu li a.active {
    background-color:rgba(255, 255, 255, 0.75);
    color:rgba(10, 35, 188, 0.88);
}

.headbox_left {
    float: left;
    width: 20%
}

.headbox_center {
    float: left;
    width: 60%
}

.headbox_right {
    float: left;
    width: 20%
}

.imageflex {
    display: flex;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ol li {
    margin-top: 5px;
}